<h1>Current links:</h1>
<ul>
  <%@links.each do |link|%>
  <li>
    <p><%=link_to link.title, link_path(link.id)%></p> has <%=link.comments.length%> comments
    <hr>
  </li>
  <%end%>
</ul>

<%if current_user%>
  <%= link_to "Add new link", new_user_link_path(current_user.id), :class => 'btn btn-success'%>
<%end%>
